.vote-page-wrapper {
  min-height: 89vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10vh;
}

.vote-poll-wrapper {
  min-width: 60%;
  max-width: 80%;
  margin: 0 auto;
}

Form {
  min-width: 80%;
}

.vote-poll-question {
  min-width: 80%;
}

.vote-poll-options {
  margin: 0px;
  padding: 0px;
  min-width: 80%;
}

.poll-option {
  display: flex;
  padding: 30px;
  margin: 2%;
  background: white;
  border: 1px solid #d6d6d6;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: 0.2s all;
}
.vote-poll-options:hover .poll-option {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
.vote-poll-options:hover .poll-option:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #28a745;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.selected {
  border: 2px solid #28a745;
  transform: translateX(50px);
}