@import "tailwindcss";

@theme {
  --color-theme-dark: #F5B226;
  --color-primary: #F5B226;
  --color-secondary: #F5F2E8;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-family: var(--font-openSans);
  @apply bg-neutral-50;
}

.dark {
  @apply bg-theme-dark;
}


@keyframes wave {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-animation {
  background: linear-gradient(90deg,
      #f5b226,
      #f7c667,
      #b8e0d2,
      #f5b226);
  background-size: 300% 100%;
  animation: wave 10s infinite ease-in-out;
}