@import "tailwindcss";

@theme {
  --color-theme-dark: #F5B226;
  --color-primary: #F5B226;
  --color-secondary: #F5F2E8;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-family: var(--font-openSans);
  @apply bg-neutral-50;
}

.dark {
  @apply bg-theme-dark;
}


